@mixin button($color: #5581F1){

  padding: 5px;

  text-align: center;

  position: relative;

  background: rgba(255,255,255,.7);
  border: none;
  font-size: 20px;

  display: flex;
  justify-content: center;
  align-items: center;

  transition: .3s;

  & span{
    font-size: 20px;
  }

  &:active,
  &.active{
    color: $color;
  }

  &:hover{
    background: #eee;
    cursor: pointer;
  }
}

@mixin clear-list(){
  list-style: none;
  margin: 0;
  padding: 0;
}