$header-height: 40px;
$toolbar-height: 50px;
$formula-height: 40px;
$border-color: #ccc;
$border-color-rgba: rgba(214,214,214, .5);
$info-cell-width: 50px;
$row-height: 24px;
$cell-min-width: 120px;
$db-header-height: 64px;